.main{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  position: relative;
  left: 180px;

}
.sub{
  color: white;
  border: 2px solid black;
  text-align: center;
  background-color: black;
}
.center{
  display: flex;
  justify-content: center;
  width: 79%;
  height: 35px;
  border: 3px solid black;
  position: relative;
  background-color: red;
  margin-left: 12%;
}
.button{
 position: absolute;
 top:160px;
 width: 170px;
 height: 1640px;
 border: 2px solid black;
 margin-top: -50px;
 background-color: pink;
}
button{
  width: 170px;
  height: 40px;
  background-color: darkorange;
  margin-bottom:40px ;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 16px;
}
a{
  text-decoration: none;
  font-style: bold;
  color: black;
}
.text{
  margin-left: 50%;
}
.changepointer{
  cursor: pointer;
}